@page "/"

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col-6">
        <div class="section">
            <h3>Pinned data or widgets?</h3>
        </div>
    </div>

    <div class="col-6">
        <div class="section">
            <p>Welcome back..</p>
        </div>
    </div>
</div>

