@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.TopEnd" />
<HxMessageBoxHost />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="mt-3">
        <article class="content px-4">
            @Body
        </article>
    </main>

    <Footer />

</div>
